//====================================================================================================

.footer {
	// .footer__container
	&__container {
	}
	// .footer__inner
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(20);
		@media (max-width: $mobile) {
			flex-direction: column;
			flex-wrap: wrap;
		}
	}
	// .footer__text
	&__text {
		font-weight: 500;
		@include adaptiveValue("font-size", 24, 18);
		line-height: 129.166667%; /* 31/24 */
		letter-spacing: rem(-0.41);
	}
	// .footer__social
	&__social {
	}
}
.social {
	display: flex;
	column-gap: rem(16);
	// .social__item
	&__item {
		img {
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
}

//====================================================================================================
